body {
    /* background-image: url('1.jpg'); */
    background-size: cover;
    background-repeat: no-repeat;
    background-color: #0A2647;
  }
  .affan
  {
    text-align: center;
    color: white;
  }
  .don
  {
    /* margin-top: 200px; */
  }